:root {
  --color-bg-main: #f0f3f5;
  --color-bg-content: #fff;
  --color-border-primary: #ccc;
  --color-text: #333;

  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-20: 1.25rem;

  font-family:
    Work Sans,
    sans-serif;
  color: var(--color-text);
}

.app-body {
  background-color: var(--color-bg-main);
}

#root {
  max-width: 940px;
  margin: 0 auto;
  background-color: var(--color-bg-content);
}
